@import url("https://fonts.googleapis.com/css?family=Fustat:100, 200, 300, 400, 500, 600, 700, 800, 900");
@import url("https://fonts.googleapis.com/css?family=B612:100, 200, 300, 400, 500, 600, 700, 800, 900");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --body-background-color: #f9f9f9;
  --primary-text-color: #050507;
  --accent-color: #fcac66;

  /* Font Sizes */
  --heading-one-font-size: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --heading-two-font-size: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --heading-three-font-size: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --heading-four-font-size: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --heading-five-font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --paragraph-font-size: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);

  /* Space */
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .custom-border {
    @apply border-2 border-orange-300 rounded-xl;
  }

  .hide {
    display: none;
  }

  .fieldset-xlwidth {
    width: 27rem;
  }
  .fieldset-lgwidth {
    width: 20rem;
  }
  .fieldset-smwidth {
    width: 20rem;
  }

  .form-disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  .vip-ticket-counter-background-color {
    @apply bg-vipTicketCounterBackgroundColor;
  }
}

body {
  background: var(--body-background-color);
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar,
::-moz-scrollbar,
::-ms-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-family: "B612", sans-serif;
  font-size: var(--heading-one-font-size);
}

@media screen and (min-width: 800px) {
  h1 {
    margin: var(--space-xl-2xl);
  }
}

h2 {
  font-family: "Fustat", sans-serif;
  font-size: var(--heading-two-font-size);
  margin: var(--space-l-xl);
}

h3,
h4,
h5,
h6 {
  font-family: "Fustat", sans-serif;
}

h3 {
  font-size: var(--heading-three-font-size);
  margin: var(--space-m-l);
}

h4 {
  font-size: var(--heading-four-font-size);
}

h5 {
  font-size: var(--heading-five-font-size);
}

h6 {
  font-size: var(--heading-six-font-size);
}

p,
input,
label {
  font-family: "Fustat", sans-serif;
  font-size: var(--paragraph-font-size);
  line-height: 2;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
